@font-face {
    font-family: 'Fredoka';
    src: url('../font_types/static/Fredoka-Bold.ttf') format('truetype'); /* Ensure the path is correct */
    font-style: normal;
}


html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.logo {
    height: 100px;
    margin-left: 20px;
    margin-top: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}
.fotoheaderd {
    max-width: 15%;
    height: auto;
    margin-left: 20px; /* Espacio entre el logo y el texto */
}
.container {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribuye el espacio entre el texto y la imagen */
    font-size: 12px;
    text-align: center;
    z-index: 23;
    width: 100%; /* Asegúrate de que el contenedor ocupe todo el ancho */
}

.tituloWoodTune {
    margin-right: -240px;
    font-family: 'Fredoka', sans-serif; 
    font-size: 70px;
    color: #fff; 
    text-shadow: 10px 20px 30px rgba(0, 0, 0, 0.7); 
    flex-grow: 1; /* Permite que el texto crezca para ocupar el espacio */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
}
.header-h {
    background: url('../imagenes_video/maderawebp.webp');
    padding: 10px;
    color: white;
    background-size: 10%; /* Asegura que la imagen cubra todo el header */
    z-index:800;
}
.menu-vertical {
    width: 200px;
    padding: 20px;
}
.content {
    flex: 1;
    padding: 20px;
    transition: filter 0.3s ease;
}

.header-footer{
z-index:500;
}
.btn {
    text-align: center;
    margin-top: 10px;
    align-items: center;
    margin-left:20px;
    margin-right:10px;
    background-color: #EB8931;
    margin-bottom: 25px; /* Separación de 12px entre botones */
    padding: 10px 20px;
    cursor: pointer;
    font-family: NunitoXtra, serif;
    font-size: 20px;
    border: 2px solid black;
   color: var(--color-white);
    transition:
        scale 0.25s ease-in, 
        opacity 0.25s ease-in, 
        filter 0.25s ease-in;}
        .btn:hover{
        scale: 1.1;}

        .btns:has(.btn:hover) .btn:not(:hover) {
        scale: 0.8; opacity: 0.8;
        filter: blur (4px);    }
        
.p1{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    line-height: 1.5;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    text-align: justify;
}
.menu.open {
    left: 0; /* Despliega el menú */
}
.menu {
    position: fixed;
    overflow-y: auto; /* Habilita el scroll vertical si el contenido excede el alto */
    left: -400px; /* Fuera de la pantalla */
    width: 400px;
    height: 100%;
    background-color: #ffffff;
    color: white;
    transition: left 0.3s ease;
    z-index: 1000; /* Asegúrate de que esté por encima */
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 900; /* Debajo del menú */
}
.overlay.active {
    display: block; /* Muestra el filtro */
}
.menu-item {
    padding: 35px;
    cursor: pointer;
}

.descripcion-inner  {
    margin-right: 550px;
    margin-left: 550px;
}

.menu {
    position: fixed; /* Mantiene el menú fijo */
    top: 340px; /* Margen superior inicial */
    left: -400px; /* Fuera de la pantalla */
    width: 400px;
    height: 100%;
    background-color: #ffffff;
    color: black; /* Cambia el color del texto si es necesario */
    transition: top 0.3s ease; /* Suaviza el movimiento */
    z-index: 1000; /* Asegúrate de que esté por encima */
}
.content {
    padding: 20px;
    transition: filter 0.3s ease;
}
.foto{
    max-width: 100%;
    height: auto;
    display: grid;
    place-items: center;
}

a{
    color: inherit;
    text-decoration: none; 
}
#menu {
    position: absolute; /* Cambia a absolute para que pueda moverse inicialmente */
    top: 340px; /* Posición inicial */
    transition: top 0.3s ease; /* Agrega una transición suave */
    /* Otros estilos que necesites */
}
.no-scroll {
    overflow: hidden; /* Desactiva el scroll */
}

.fotos {
    display: flex;
    justify-content: center; /* Centra las tarjetas horizontalmente */
    overflow-y: auto;
    text-align: center;
  }
  .fotos .foto {
    max-width: 100%;
    height: auto;
    display: grid;
    place-items: center;
  }
  
  .fotos .foto img {
    height: 450px; /* Mantiene la altura de las imágenes */
    margin: 10px; /* Espacio entre las imágenes */
  }
  /* Estilos generales del menú */
.hmenu-item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

/* Flecha de la derecha para submenús */
.hmenu-arrow-next {
    margin-left: auto;
    content: '►';
    color: #555;
}

/* Contenedor del submenú, oculto por defecto */
.submenu {
    display: none;
    flex-direction: column;
    padding-left: 20px;
}

/* Muestra el submenú cuando tiene la clase 'open' */
.submenu.open {
    display: flex;
}


.cards {
    display: flex;
    justify-content: center; /* Centra las tarjetas horizontalmente */
    overflow-y: auto;
    text-align: center;
    z-index: 10;
}

.cards .card {
    display: flex; /* Usar flexbox para la tarjeta */
    align-items: center; /* Centra las imágenes verticalmente */
    padding: 20px;
    width: auto; /* Permite que la tarjeta se ajuste al contenido */
}

.image {
    height: 400px; /* Mantiene la altura de las imágenes */
    margin: 10px; /* Espacio entre las imágenes */
}

footer {
    background-color: #EB8931;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.footer-info, .footer-social {
    width: 45%;
}

.footer-info h2, .footer-social h2 {
    margin-bottom: 10px;
}

.footer-info ul {
    list-style: none;
    padding: 0;
}

.footer-info li, .footer-social a {
    margin-bottom: 8px;
}

.footer-social a {
    display: block;
    font-size: 16px;
    color: white;
    text-decoration: none;
    margin: 8px 0;
}

.footer-rights {
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
}

.h2footer{
font-size: 30px;
}
.t1{
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
}

.code{
    height: 120px; /* Mantiene la altura de las imágenes */

 } 

.btn1 {
    text-align: center;
    margin-top: 10px;
    align-items: center;
    margin-left:0px;
    background-color: #EB8931;
    margin-bottom: 25px; /* Separación de 12px entre botones */
    padding: 10px 20px;
    border-width: 4px;
    cursor: pointer;
    position:fixed;
    font-family: NunitoXtra, serif;
    font-size: 20px;
    color: var(--color-white);
    z-index:10001;
    transition:
        scale 0.25s ease-in, 
        opacity 0.25s ease-in, 
        filter 0.25s ease-in;}

.pfooter{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    text-align: center;
}

.header-footerR .p{
font-size: 30px;
}

.vidiardo{
height: 400px;
display: flex;
justify-content: center;
align-items: center;
max-width: 100%;
}

@media (min-width: 1px) and (max-width: 576px)  {
    .tituloWoodTune{
        font-size:40px;
        text-align: flex-start;
        display: flex;
    }
    h1 {
        font-size: 2.5em;
    }
    p {
        font-size: 1em;
    }

    .p1 {
        text-align: center;
        font-size: 1.3em;
        text-align: justify;
        margin-left: 2.5px;
        margin-right: 2.5px;
    }

    .cards .card .image{
        height: 100%;
        max-width: 100%;
        justify-content: space-around;
    }

    .cards .card img{
        max-width: 100%;
        height: 100%;
    }
    .descripcion-inner {
        margin: 100px 0 0 0;
    }

    .fotoheaderd {
        max-width: 30%;
        height: auto;
        display: grid;
        place-items: center;
    }
    .header-h {
        padding: 10px;
        color: white;
        background-size: cover;
        background-position: center calc(0% - 60px);
        z-index: 800;
    }
    #toggleMenu {
        margin-top: -4em;
        text-align: center;
    }
    footer div img{
        justify-content: flex;
        width: 70%;
        height: auto;
    }
    .pfooter{
        font-size: 7px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        unicode-bidi: isolate;
        text-align: center;
    }
    
    .header-footerR .p{
    font-size: 30px;
    }
}

@media (min-width: 576px) and (max-width: 768px)  {
    .tituloWoodTune{
        font-size:60px;
        text-align: flex-start;
        display: flex;
    }

    h1 {
        font-size: 2.5em;
    }
    p {
        font-size: 1em;
        text-align: center;
    }
    .descripcion-inner {
        margin: 100px 0 0 0;
    }

    .fotoheaderd {
        max-width: 30%;
        height: auto;
        display: grid;
        place-items: center;
    }
    footer div img{
        justify-content: flex;
        width: 70%;
        height: auto;
    }
    .header-h {
        padding: 10px;
        color: white;
        background-size: cover;
        background-position: center calc(0% - 60px);
        z-index: 800;
    }
    #toggleMenu {
        margin-top: -4em;
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 992px)  {
    h1 {
        font-size: 2.5em;
    }
    p {
        font-size: 1em;
        text-align: center;
    }
    .descripcion-inner {
        margin: 100px 0 0 0;
    }

    footer div img{
        justify-content: flex;
        width: 70%;
        height: auto;
    }
    .fotoheaderd {
        max-width: 20%; /* Diferencia en el tamaño de imagen */
        height: auto;
        display: grid;
        place-items: center;
    }
    .header-h {
        padding: 10px;
        color: white;
        background-size: cover;
        background-position: center calc(0% - 60px);
        z-index: 800;
    }
    #toggleMenu {
        margin-top: -4em;
        text-align: center;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    h1 {
        font-size: 2.5em;
    }
    p {
        font-size: 1em;
        text-align: center;
    }
    .descripcion-inner {
        margin: 100px 0 0 0;
    }
    .tituloWoodTune {
        margin-right: -240px;
        font-family: 'Fredoka', sans-serif; 
        font-size: 70px;
        color: #fff; 
        text-shadow: 10px 20px 30px rgba(0, 0, 0, 0.7); 
        flex-grow: 1; /* Permite que el texto crezca para ocupar el espacio */
    }
    
    img {
        max-width: 100%;
        height: auto;
        display: grid;
        place-items: center;
        text-align: center;
    }
    .header-h {
        padding: 10px;
        color: white;
        background-size: cover;
        background-position: center calc(0% - 60px);
        z-index: 800;
    }
    #toggleMenu {
        margin-top: -4em;
        text-align: center;
    }

}

@media (min-width:1200px) and (max-width: 1440px)  {
    h1 {
        font-size: 2.5em;
    }
    p {
        font-size: 1em;
        text-align: center;
    }
    .descripcion-inner {
        margin: 100px 0 0 0;
    }
    .tituloWoodTune {
        margin-right: -240px;
        font-family: 'Fredoka', sans-serif; 
        font-size: 70px;
        color: #fff; 
        text-shadow: 10px 20px 30px rgba(0, 0, 0, 0.7); 
        flex-grow: 1; /* Permite que el texto crezca para ocupar el espacio */
    }
    
    img {
        max-width: 100%;
        height: auto;
        display: grid;
        place-items: center;
        text-align: center;
    }
    .header-h {
        padding: 10px;
        color: white;
        background-size: cover;
        background-position: center calc(0% - 60px);
        z-index: 800;
    }
    #toggleMenu {
        margin-top: -4em;
        text-align: center;
    }

}

@media (min-width:1440px) and (max-width: 1840px){
    h1 {
        font-size: 2.5em;
    }
    p {
        font-size: 1em;
        text-align: center;
    }
    .descripcion-inner {
        margin: 100px 0 0 0;
    }
    .tituloWoodTune {
        margin-right: -240px;
        font-family: 'Fredoka', sans-serif; 
        font-size: 70px;
        color: #fff; 
        text-shadow: 10px 20px 30px rgba(0, 0, 0, 0.7); 
        flex-grow: 1; /* Permite que el texto crezca para ocupar el espacio */
    }
    
    img {
        max-width: 100%;
        height: auto;
        display: grid;
        place-items: center;
        text-align: center;
    }
    .header-h {
        padding: 10px;
        color: white;
        background-size: cover;
        background-position: center calc(0% - 60px);
        z-index: 800;
    }
    #toggleMenu {
        margin-top: -4em;
        text-align: center;
    }
}

